 @font-face {
        font-family: 'Adelia'; /* Choose a name for your font family */
        src: url('./dead_revolution/Dead\ Revolution.otf') format('opentype');/* Add additional formats if necessary */
        }

        html, body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            height: 100vh;
            min-height: 100vh;
            /* width: 100vw; */
            overflow: hidden;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            background-color: rgba(11, 11, 11, 0.918);
        }
        .nav_Bar {
            display: flex;
            flex-direction: row;
            justify-content:space-around;
            align-items: center;
            background-color: rgb(0, 0, 0);
            padding: 10px 20%;
        }   
        .logo {
            max-width: 50px;
            height: auto;
            cursor: pointer;
        }
        .nav_menu a {
            text-decoration: none;
            padding: 10px 25px;
            background-color: black;
            color: rgb(121, 121, 121);
            border-radius: 15px;
        }
        .nav_menu a:hover {
            color: rgb(187, 186, 186);
            background-color: #31373b79;
        }
        .content {
            display: flex;
            width: 100%;
            flex-direction: row;
            flex: 1;
        }
        .content .content_img {
            display: flex;
            width: 30%;
        }       
        .content .content_img img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info {
            display: flex;
            /* max-width: 50%; */
            height: 100%;
            flex-direction: column;
            justify-content: flex-start;
            padding: 76px 25px;
            align-items: center;
            color: white;
            gap: 25px;
            flex: 1;
        }

        .photo {
            max-width: 200px;
            border-radius: 50%;
            margin-right: 15px;
        }
        .name {
            display: flex;
            justify-content:space-evenly;
            /* background-color: rgb(24, 24, 24); */
            align-items: flex-end;
            /* width: 95%; */
        }
        .name p {
            color: #121416;
            font-family: Adelia;
            font-size: 50px;
            text-align: center;
        }
        .social_Links {
            padding: 15px 35px;
            background-color: rgba(100, 114, 121, 0.153);
            border-radius: 35px;
        }

        .social_Links a img {
            width: 3rem;
            height: 3rem;
            margin: 0 7px;
        }
        .line {
            padding: 30px;
        }
        .line p {
            padding: 30px 10px;
            border-radius: 15px;
            background-color: rgba(81, 81, 81, 0.693);
            text-align: center  ;
            color: rgb(255, 254, 254);
            font-size: 25px;
        }

        /* contact */
        .all-content {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        .con_heading {
            text-align: center;
            color: white;
            padding: 5px 0;
        }
        .content-contanct {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 35px;
            margin: 0;
        }

        .content-contanct form {
            padding: 25px;
            background-color: #121416;
            height: 400px;
        }
        .content-contanct form input[type="text"], input[type="email"] {
            width: 350px;
            padding: 15px 0;
            text-align: center;
            background-color: #121416;
            box-sizing: border-box;
            margin: 10px 0;
            line-height: 1; 
            border: 1px white solid ;
            color: rgb(243, 243, 243);
        }
        .content-contanct form label {
            display: inline-block;
            color: rgb(195, 195, 195);
            background-color: rgb(47, 47, 47);
            width: 170px;
            padding: 15px 0;
            margin: 15px 15px;
            text-align: center;
            /* vertical-align: top; */
            /* line-height: 1;  */
        }
        form #cntc_msg {
            /* height: 150px; */
            padding: 50px 0;
        }
        .content-contanct form input[type="submit"] {
            padding: 15px 30px;
            color: white;
            background-color: black;
            margin: 25px 0 0 230px;
            font-weight: bold;
            font-size: 15px;
        }
        .address {
            display: flex;
            flex-direction: column;
            padding: 25px;
            background-color: rgb(41, 42, 42);
            height: 400px;
            width: 400px;
            justify-content:space-evenly;
            align-items: center;
            border: 1px rgb(199, 199, 199) solid;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
        .contact_info {
            padding: 50px 15px;
            border: 1px solid rgb(108, 108, 108);
            border-radius: 5px;
        }
        .address p {
            color: rgb(196, 196, 196);
            padding: 5px;
            font-weight: bold;
        }
        footer {
            margin-top: 25px;
            background-color: #121416;
            color: white;
            padding: 25px 0;
            text-align: center;
            font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .body_container {
            display: flex;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
            flex: 1;

        }
        .about_me {
            width: 50%;
            padding: 30px 35px;
            background-color: rgb(56, 56, 56);
            height: 380px;
            border-radius: 15px;
            box-shadow: 0 0 20px 5px rgb(29, 28, 28);
        }
        .about_me h2 {
            color: rgb(183, 77, 20);
            padding: 0 25px;
        }
        .about_me p {
            color:rgb(187, 182, 182);
            padding: 5px 25px;
        }
        .about_me #aboutmelist {
            padding: 20px;
            background-color: rgb(30, 29, 29);
            border-radius: 1px;
        }
        .about_img {    
            padding: 25px;  
            background-color: rgb(11, 11, 11);
            border-radius: 50%;
            border: 1px rgb(0, 0, 0) solid;
            box-shadow: 0px 0px 25px 5px rgb(22, 22, 22) ;
        }
        .about_img img {
            padding: 10px;
            background-color: white;
            width: 300px;
            height: auto;
            border-radius: 50%;
            border: 1px white solid;
        }


        .skill_body_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1;
        }
        .skill_body_container .skill_title {
            width: 100%;
            background-color: #101315;
        }
        .skill_body_container h2 {
            text-align: center;
            color: rgb(131, 70, 0);
        }
        .project_Container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 60px 50px;
            background-color: #121416;
            flex: 1;
        }
        .project_Container p {
            height: 300px;
            padding: 5px 50px;
            color: white;
        }
        .project_Container .project_title {
            color: aqua;
            font-weight: bold;
        }
        .project_Container .hghlt {
            font-size: large;
            color: rgb(36, 98, 64)
        }
        .project {
            background-color: #0b0d0e;
            border-radius: 15px;
            margin: 0 15px;
        }
   
        .coverContainer {
            display: flex;
            width: 100%;
            height: 620px;
            background-color: rgb(20, 20, 20);
            /* padding: 10px; */
            /* border: 2px solid #b5b5b5; */
            opacity: 0.9;
            }
        
        .coverContainer img {
            width: 50%;
            height: 100%;
            object-fit: cover;
            /* padding: 10px;    */
            /* opacity: 0.9; */
        }

        .info h2 {
            color: rgb(103, 10, 10);
            font-family: Adelia;
            font-size: 40px;
        }
        .info img {
            width: 10em;
            height: auto;
            border-radius: 50%;
        }
        
        .info a img {
            width: 3rem;
            height: 3rem;
        }
        
