.Card {
    background-color: black;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
    padding: 30px;
}

.cardIMG {
    width: 500px;
    height: 500px;
    padding: 15;
    object-fit: cover;
    border-radius: 50%;
    border: 2px white solid;
}

.cardP {
    font-size: 25px;
}