* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}

.wrapper {
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-area header {
    display: flex;
    align-items: center;
    padding: 18px 30px;
    background: rgba(103, 107, 107, 0.786);
    border-radius: 20px 0 0;
    box-shadow: 0 0 5px grey;
}

.chat-area header .back-icon {
    font-size: 18px;
    color: #333;
}

.chat-area header img {
    margin: 0 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.chat-area header span {
    font-size: 17px;
    font-weight: 500;
}

.chat-box {
    overflow-y: auto;
    height: 500px;
    background-color: #f7f7f7;
    padding: 10px 30px 20px 30px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0 16px -16px rgb(0 0 0 / 10%);
}
.chat-box::-webkit-scrollbar {
    width: 0;
}
.chat-box .chat {
    margin: 15px 0;
}

.chat-box .chat p {
    padding: 8px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
                0 16px -16px rgb(0 0 0 / 10%);
    word-wrap: break-word;
}

.chat-box .sending {
    display: flex;
}

.sending .details {
    margin-left: auto;
    max-width: calc(100% - 130px);
}

.sending .details p {
    background: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.chat-box .receiving {
    display: flex;
    align-items: flex-end;
}

.chat-box .receiving img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.receiving .details {
    margin-right: auto;
    max-width: calc(100% - 130px);
}

.receiving .details p {
    color: #333;
    background: #fff;
    border-radius: 18px 18px 18px 0;
    box-shadow: 0 0 128px 25px rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.chat-area .typing-area {
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.typing-area input {
    height: 45px;
    width: calc(100% - 58px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.typing-area button {
    width: 55px;
    border: none;
    outline: none;
    background: #333;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}
