/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins ', sans-serif;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: #f7f7f7;
    
} */

/* Userlist CSS */
/* .users {
    padding: 25px 30px;
}

.users header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    
} */
body {
    font-family: sans-serif;
    background: #f7f7f7;
}

.user-list {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 400px;
    height: 450px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 8px 15px 5px grey;
}

.user {
    margin-bottom: 10px;
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    flex-direction: column;
    text-align: left;
}

.content {
    margin-top: 30px;
    text-align: center;
    list-style-type: none;
    display: flex;
    align-items: center;
}
.content img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.content .name {
    font-size: 25px;
}
.user-list .status {
    color: rgba(0, 82, 82, 0.677);
}

.logout {
    /* display: inline-block; */
    text-decoration: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
    background-color: rgba(42, 43, 44, 0.995);
    margin-left: 25px;
}

.user .name {
    font-size: 18px;
}

.user .status {
    font-size: 14px;
}

.search {
    width: 100%;
    margin: 15px 0 15px;
    text-align: center;
}

.search input {
    width: 80%;
    margin-top: 10px;
    text-align: center;
    height: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
}
