#container {
    width: 600px;
    height: 600px;
    position: relative;
    background-color: skyblue;
}
#box {
    width: 200px;
    height: 200px;
    background-color: red;
    position: absolute;
}

#slider {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
 
}